### Here first i am creating a new database for the products and only those values are being stored that needs to be shown in a new data frame
### Then they are compared with the help of fuzzy ratio and if the ratio of the matches from the database then from either of the flipkart or amazon then it is guaranteed to show up the result. Even if the match is not 100 % it will show the maximum math from the database

In [1]:
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from IPython.display import display, HTML

In [2]:
df1=pd.read_excel('amz_com-ecommerce_sample.xlsx')
df2=pd.read_excel('flipkart_com-ecommerce_sample.xlsx')

In [3]:
df1.isnull().values.any(), df1.isnull().sum()

(True,
 uniq_id                      0
 crawl_timestamp              0
 product_url                  0
 product_name                 0
 product_category_tree        0
                          ...
 Unnamed: 100             19999
 Unnamed: 101             19999
 Unnamed: 102             19999
 Unnamed: 103             19999
 Unnamed: 104             19999
 Length: 105, dtype: int64)

In [4]:
df2.isnull().values.any()

True

In [5]:
df1.rename(columns = {'retail_price':'retail_price_amz'}, inplace = True)
df2.rename(columns = {'retail_price':'retail_price_flipkart'}, inplace = True)
df1.rename(columns = {'discounted_price':'discounted_price_amz'}, inplace = True)
df2.rename(columns = {'discounted_price':'discounted_price_flipkart'}, inplace = True)

In [6]:
df_new=pd.DataFrame(columns=['Product name in Flipkart','Retail Price in Flipkart', 'Discounted Price in Flipkart','Product name in Amazon','Retail Price in Amazon','Discounted Price in Amazon'])

In [7]:
df_new['Retail Price in Flipkart']=df2['retail_price_flipkart']
df_new['Retail Price in Amazon']=df1['retail_price_amz']
df_new['Product name in Flipkart'] = np.where(df1['product_name'].str.lower() == df2['product_name'].str.lower(), df2['product_name'], df2['product_name'])
df_new['Product name in Amazon'] = np.where(df1['product_name'].str.lower() == df2['product_name'].str.lower(), df1['product_name'], df1['product_name'])
df_new['Discounted Price in Flipkart']=df2['discounted_price_flipkart']
df_new['Discounted Price in Amazon']=df1['discounted_price_amz']

In [8]:
df_new.isnull().sum(), df_new.dtypes

(Product name in Flipkart         0
 Retail Price in Flipkart        78
 Discounted Price in Flipkart    78
 Product name in Amazon           0
 Retail Price in Amazon           0
 Discounted Price in Amazon       0
 dtype: int64,
 Product name in Flipkart         object
 Retail Price in Flipkart         object
 Discounted Price in Flipkart    float64
 Product name in Amazon           object
 Retail Price in Amazon           object
 Discounted Price in Amazon        int64
 dtype: object)

In [9]:
product=input("Enter the product name to show the products: ")

Enter the product name to show the products: Shorts

In [10]:
ratio_flipkart=[]
ratio_amazon=[]
for i in range(len(df_new)):
#     print(i)
    ratio_flip=fuzz.partial_ratio(product,str(df_new['Product name in Flipkart'][i]))
    ratio_amaz=fuzz.partial_ratio(product,str(df_new['Product name in Amazon'][i]))
    ratio_flipkart.append(ratio_flip)
    ratio_amazon.append(ratio_amaz)

In [11]:
ratio_flipkart_index=ratio_flipkart.index(max(ratio_flipkart))
nameinflipkart=df_new['Product name in Flipkart'][ratio_flipkart.index(max(ratio_flipkart))]
ratio_amazon_index=ratio_amazon.index(max(ratio_amazon))
nameinamazon=df_new['Product name in Amazon'][ratio_amazon_index]
print(nameinflipkart,nameinamazon)

Alisha Solid Women's Cycling Shorts Alisha Solid Women's Cycling Shorts

In [12]:
if ratio_flipkart_index<ratio_amazon_index:
    display(HTML(df_new.loc[[ratio_flipkart_index]].to_html(index=False)))
else:
    display(HTML(df_new.loc[[ratio_amazon_index]].to_html(index=False)))